<!-- views/main.hbs -->
<h1>Welcome to the Main Page!</h1>
<img src="funny-cat.jpg" alt="Funny Cat" />
<a href="/">Go Back</a>

<!-- views/private.hbs -->
<h1>This is a Private Page</h1>
<img src="favorite-gif.gif" alt="Favorite GIF" />
<a href="/">Go Back</a>
